
.parallax {
    /* The image used */
    background-image: url("../../../assets/89959.jpg");
  
    /* Set a specific height */
    min-height: 300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #jumb1{
    padding-top: 80px;
    padding-bottom: 80px;
    color: inherit;
    background-color: #CDCDCD;
}

.animacao{
    border-right: 2px solid rgba(255, 255, 0.75);
    margin:0 auto;
    box-sizing:border-box;
    font-family: 'Special Elite', monospace;
    text-align: start;
    font-size:3em;
    white-space: nowrap;
    overflow: hidden;
}
.typing-animation{
    animation: blinkCursor 700ms steps(40) infinite normal, typing 3s steps(40) 1s normal both;
}
@Keyframes blinkCursor {
    from {
        border-right-color:  rgba(14, 13, 13, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}
@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 6em;
    }
    
}
#carouselExampleCaptions{
    margin-top: 20px;
    margin-bottom: 30px;
}

.contato:hover{
cursor: pointer;
transform: translate(-10px);
}

.h4{
    font-family:sans-serif;
    font-size: 16px;
}

.btn{
    background-color: #DF9A22;
    font-size: 18px;
}