<div class="container mb-5">
    <div class="title text-center m-5">
        <h2 class="title-text">Pedidos</h2>
    </div>
    <div class="pedidosList">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success ">Pedido nº1</li>
            <li class="list-group-item">Pizza sabor: Mussarela</li>
            <li class="list-group-item">Quantidade: 3</li>
            <li class="list-group-item">Valor: R$60,00</li>
            <li class="list-group-item">Pagamento: Cartão</li>
        </ul>
    </div>
</div>
