.card-img-top{
    border-radius: 60%;
    height: 170px;
    width: 186px;
    text-align: center;
}

.title{
    font-size: 70px;
    color:white;
    
}

.font-weight-bold{
    font-weight: bold;

}
    

.font-retro{
    font-family: pixel-operator;
    margin: 0;
}

.pd-jumbotrom{
    padding: 80px 0 80px;
}

.delete-icon{
    position: absolute;
    top: 10px;
    left: 245px;
    border: none;
    background: none;
}

.container{
    padding:50px 0 50px 0 ;
    
}

.parallax{
    
    background-image: url("../../../assets/bg-cardapio.jpg");
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}