.card-img-top{
    border-radius: 60%;
    height: 170px;
    width: 186px;
    text-align: center;
}

.title{
    font-size: 70px;
}

.font-retro{
    font-family: pixel-operator;
    margin: 0;
}

.delete-icon{
    position: absolute;
    top: 10px;
    left: 245px;
    border: none;
    background: none;
}

.container{
    padding:50px 0 50px 0 ;
}

/* .parallax{
    margin-top: -8px;
    
    background-image: url("../../../assets/bg-6.jpg");
  
    
    min-height: 300px; 
  
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */